@model List<Service>
@{
    int count = 0;
}
<h1>
    Services
    <a class="btn btn-primary" asp-action="Create">Create</a>
</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Sira sayi</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th scope="row">@count</th>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td><img src="~/Upload/@item.ImgUrl" width="150px" height="150px"/></td>
                <td>
                    <a class="btn btn-warning" asp-action="Update" asp-controller="Service" asp-route-id="@item.Id">Update</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Service" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
